/.gitlab-ci.yml
build/
dev/
live/
app/keys/
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/build.gradle
/build.gradle
/data/build.gradle
/domain/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/data/consumer-rules.pro
/data/proguard-rules.pro
/domain/consumer-rules.pro
/domain/proguard-rules.pro
/gradle.properties
/settings.gradle
/app/version.gradle
