<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bgrem.app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:scheme="*" />
        </intent>
    </queries>

    <application
        android:name="com.compose.app.BgRemApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name="com.compose.presentation.main.MainComposeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bgrem.presentation.background.ChangeBackgroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bgrem.presentation.media.CaptureMediaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.Capture" />
        <activity
            android:name="com.bgrem.presentation.trimming.TrimmingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.Capture" />
        <activity
            android:name="com.bgrem.presentation.fullScreen.FullScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.Capture" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bgrem.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>